.contactsBlock {
    background-color: #c58282;
    height: 100vh;
}

.title {
    background-color: #c4bdbd;
}

.contactsContainer {
    display: flex;
    flex-direction: column;
}

.formContainer {
    border: 1px solid;
    width: 400px;
}

.itemForm:last-of-type {
    margin-top: 10px;
}

.form {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    width: 400px;
}

@media all and (max-width: 700px) {
    .form {
        width: 100%;
    }
}


.sendBtn {
    width: 100px;
    height: 35px;
}