@import '../common/styles/sass/variables';

.contactsBlock {
  background-color: $bgSecondColor;
  padding: 85px 40px;


  .contactsContainer {
    //justify-content: flex-start;

    .formContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      .form {
        display: grid;
        grid-template-rows: 41px 15px 141px 15px 53px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
                    "name email "
                    "errorName errorEmail"
                    "message message "
                    "errorMessage errorMessage"
                    "btn btn";
        grid-gap: 5px;
        width: 100%;
        padding: 0 15px;
        @media all and (max-width: 775px) {
          grid-gap: 1px;
          grid-template-columns: 1fr;
          grid-template-rows: 41px 15px 41px 15px 128px 15px 53px;
          grid-template-areas:
                    "name"
                    "errorName"
                    "email"
                    "errorEmail"
                    "message "
                    "errorMessage"
                    "btn";
        }

        .contactsName {
          grid-area: name;
          font-family: $fontFamily;
        }

        .contactsEmail {
          grid-area: email;
          font-family: $fontFamily;
        }

        .contactsMessage {
          grid-area: message;
          resize: none;
          font-family: $fontFamily;
        }

        .errorName {
          grid-area: errorName;
        }
        .errorEmail {
          grid-area: errorEmail;
        }
        .errorMessage {
          grid-area: errorMessage;
        }
        .error {
          color: #CB6253;
          line-height: 1;
          font-size: 13px;
        }

        .sendBtn {
          grid-area: btn;
          width: 158px;
          padding: 10px 30px;
          background-color: $primaryColor;
          border: 2px solid $primaryColor;
          border-radius: 30px;
          color: #fff;
          font-family: $fontFamily;
          font-size: 14px;
          margin-top: 10px;
          &:hover {
            cursor: pointer;
          }
          &:disabled {
            background: #fff;
            color: #CB6253;
          }
        }

        .itemForm {
          background-color: #fff;
          border: none;
          border-bottom: 1px solid #d4d4d4;
          border-radius: 0;
          font-size: 14px;
          padding: 9px 14px;
          -webkit-box-shadow: 0 0 0 1000px #fff inset;
          -webkit-text-fill-color: #555 !important;
          transition: background-color 5000s ease-in-out 0s;
          outline: none;

          &:focus {
            border-bottom: 1px solid $primaryColor;
            transition: all 0.4s ease 0s;
          }
        }
      }
    }

  }

}
