.workBlock {
    border: 1px solid;
    width: 350px;
}

.imageContainer {
    background-color: #ccbc87;
    width: 100%;
    height: 285px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.workButton {
    width: 100px;
    height: 35px;
    font-size: 15px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.descriptionBlock {
    margin: 0 25px;
    border: 1px solid;
}
.descriptionBlock h3 {
    background-color: #dbd5d5;
    margin: 0;
    text-align: center;
}
.descriptionBlock span {
    background-color: #a7b986;
}