.worksBlock {
    background-color: #b9a2d4;
    padding-bottom: 70px;
}

.title {
    background-color: #c4bdbd;
}

.works {
    display: flex;
    justify-content: space-between;
    border: 1px solid;
    width: 100%;
    flex-wrap: wrap;
}

@media all and (max-width: 880px) {
    .works {
        justify-content: center;
    }
}

.worksContainer {
    justify-content: flex-start;
    flex-direction: column;
}