@import './../common/styles/sass/variables';

.skillsBlock {
    background-color: $bgSecondColor;
    padding: 85px 40px;
}

.skillsContainer {

}

.skills {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

@media all and (max-width: 629px) {
    .skills {
        justify-content: center;
    }
}