.skillsBlock {
    background-color: #bad5ac;
    padding-bottom: 70px;
}

.skillsContainer {
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.title {
    background-color: #c4bdbd;
}

.skills {
    display: flex;
    justify-content: space-between;
    border: 1px solid;
    width: 100%;
    flex-wrap: wrap;
}

@media all and (max-width: 624px) {
    .skills {
        justify-content: center;
    }
}