@import './src/common/styles/sass/variables';

.box {
    background: rgba(17, 17, 17, 0.32);
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 2;
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
}


.modal {
    max-height: 300px;
    max-width: 450px;
    background: #ECECF9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    position: fixed;
    left: 50%;
    bottom: 50vh;
    transform: translate(-50%, 0);
    z-index: 3;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    @media all and (max-width: 570px) {
        max-width: 290px;
        max-height: 200px;
        transform: translate(-50%, 50%);
    }
}

.p {
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
    line-height: 1.4em;
    letter-spacing: .1em;
    @media all and (max-width: 570px) {
        font-size: 13px;
    }

    &:nth-child(2) {
        margin-top: 20px;
    }
}

.hidden {
    display: none;
}


.btnBox {

    width: 100%;
    display: flex;
    justify-content: space-around;
}

.btn {
    width: 158px;
    padding: 10px 30px;
    background-color: $primaryColor;
    border: 2px solid $primaryColor;
    border-radius: 30px;
    color: #fff;
    font-family: $fontFamily;
    font-size: 14px;
    margin-top: 10px;
    &:hover {
        cursor: pointer;
    }
}

