.mainBlock {
    height: 100vh;
    background-color: #d08246;
}

.text {
    width: 300px;
    background-color: #e2c6c6;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: #e2c6c6;
}
