.footerBlock {
    height: 50vh;
    background-color: #d0c380;
}

.footerContainer {
    align-items: center;
    flex-direction: column;
}

.footerContainer span {
    background-color: #d9d2d2;
}

.title {
    background-color: #d9d2d2;
}

.element {
    width: 80px;
    height: 80px;
    background-color: #6da8c9;
}

.elementsContainer {
    display: flex;
    justify-content: space-between;
    width: 560px;
}

@media all and (max-width: 887px) {
    .elementsContainer {
        width: 100%;
        justify-content: space-around;
    }
    .element {
        width: 60px;
        height: 60px;
    }
}